# Partie 1

In [3]:
import pandas as pd

data = pd.read_csv("input1.txt", header = None, names=["data"])
data

      data
0      176
1      184
2      196
3      199
4      204
...    ...
1995  5569
1996  5570
1997  5584
1998  5588
1999  5596

[2000 rows x 1 columns]

In [4]:
(data.diff() > 0).sum()

data    1342
dtype: int64

# Partie 2

In [10]:
dataRolling = data.rolling(window=3).sum()
dataRolling

         data
0         NaN
1         NaN
2       556.0
3       579.0
4       599.0
...       ...
1995  16658.0
1996  16690.0
1997  16723.0
1998  16742.0
1999  16768.0

[2000 rows x 1 columns]

In [11]:
(dataRolling.diff() > 0).sum()

data    1378
dtype: int64