# Partie 1

In [57]:
import pandas as pd
import numpy as np

data = pd.read_table("input3.txt", header=None,
                     sep="", engine="python", prefix="col").dropna(axis=1, how="all")
data

     col1  col2  col3  col4  col5  col6  col7  col8  col9  col10  col11  col12
0       0     0     0     0     1     1     0     0     0      1      1      0
1       1     0     0     1     1     0     1     0     0      1      0      1
2       1     0     1     1     0     0     1     0     1      0      0      1
3       0     0     1     1     0     0     0     1     0      0      0      0
4       0     1     1     0     0     0     1     0     0      1      0      0
..    ...   ...   ...   ...   ...   ...   ...   ...   ...    ...    ...    ...
995     1     0     0     0     0     0     0     0     1      0      0      1
996     1     0     1     1     1     0     0     1     0      1      0      1
997     1     0     0     1     1     0     1     1     1      0      1      0
998     1     0     0     0     0     1     0     0     0      0      0      0
999     1     1     0     1     0     0     1     1     0      1      1      1

[1000 rows x 12 columns]

In [70]:
gamma = int(data.mode().astype(str).values.sum(axis=1)[0], base=2)
gamma

2576

In [68]:
epsilon = gamma ^ 0x0FFF
epsilon

1519

In [69]:
epsilon * gamma

3912944

# Partie 2

In [175]:
Oxygen = data
CO2 = data

for col in data:

    if len(Oxygen.index) > 1:
        tmp = Oxygen.mode()[col].dropna().astype(int).iat[-1]
        Oxygen = Oxygen[Oxygen[col] == tmp]

    if len(CO2.index) > 1:
        tmp = (CO2.mode()[col].dropna().astype(int).iat[-1] ^ 0b1)
        CO2 = CO2[CO2[col] == tmp]

Oxygen = int(Oxygen.astype(str).values.sum(axis=1)[0], base=2)
print("Oxygen: ")
print(Oxygen)

CO2 = int(CO2.astype(str).values.sum(axis=1)[0], base=2)
print("\nCO2: ")
print(CO2)

Oxygen:
3597

CO2:
1389

In [176]:
Oxygen * CO2

4996233